@import url("../Theme/theme.scss");

.containers {
  width: 95%;
  margin: 0 auto;
}

.hr_tag {
  border: none !important;
  height: 1px !important;
  background-color: var(--form-hr) !important;
  margin: 20px 0 !important;
}

.w_100 {
  width: 100%;
}

.text_center {
  text-align: center;
  color: var(--form-useful-link-color);
}

.ancor {
  color: var(--form-useful-link-color);
  text-decoration: none;
}

.logo {
  color: #0166d6;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 19px;
  margin: 0;
  padding: 0;
}

.bg_nav {
  background-color: #d7d7d7;
}

.table_head {
  background-color: #d7d7d7;
  border: 1px solid #d7d7d7 !important;
}

.table_text {
  font-size: 14px;
}

.table > :not(:first-child) {
  border-top: 2px solid transparent;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 0px !important;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.font_14 {
  font-size: 14px;
}

.modal_btn {
  position: relative;
  .close_modal {
    position: absolute;
    top: 28px;
    right: 0;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    font-size: 22px;
    cursor: pointer;
    color: #d14d56;
  }
}

.btn_common {
  background-color: #0faf51 !important;
  border: 1px solid #0faf51 !important;
  border-radius: 6px;
  color: #fff !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #0faf51;
    border: 1px solid #0faf51;
    color: #fff;
  }
}

.pardon {
  color: #d14d56;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 13px;
}

.logout_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 13px;
  custom_btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  .btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: rgb(255, 27, 0);
    background: linear-gradient(
      0deg,
      rgba(255, 27, 0, 1) 0%,
      rgba(251, 75, 2, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
  }
  .btn-5:before,
  .btn-5:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
      4px 4px 5px 0px #0002;
    transition: 400ms ease all;
  }
  .btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }
}
